XML/XML-bestanden/items.dtd

<!ELEMENT items (item*)>
<!ELEMENT item (categorie, omschrijving, prijs)>
<!ELEMENT categorie (#PCDATA)>
<!ELEMENT omschrijving (#PCDATA)>
<!ELEMENT prijs (#PCDATA)>
<!ATTLIST item id ID #REQUIRED>
<!ATTLIST prijs valuta (EUR|USD) "EUR">
<!ENTITY Cat1 "CD">
<!ENTITY Cat2 "Boek">
<!-- externe DTD : hier staat de structuur van items als het moet zijn-->